# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 가상환경
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# 모델 가중치 (용량 큰 바이너리)
*.pt
*.pth
*.weights

# 외부 라이브러리 (별도 클론)
yolov5/

# IDE
.vscode/
.idea/
